@{
    ViewBag.Title = "Classics Sets";
    List<FuzzyApp.Models.Preposition> resultComplete = ComplexApp.Controllers.ClassicsSetsController.resultComplete;
    string logicExpressionToShow = ComplexApp.Controllers.ClassicsSetsController.logicExpressionToShow;
    FuzzyApp.Models.Preposition lastPrepositionToShow;
    lastPrepositionToShow = resultComplete.Count > 0 ? resultComplete.Last() : null;
}

<div class="row">
    <div class="col-md-3">
        <h2><i class="material-icons" style="border-radius: 50%; padding: 10px; background-color: #ebebeb; font-size:40px;color: #000000; margin-right:0.2em">storage</i> Classics Sets</h2>
    </div>
</div>

<hr />

<div class="row">
    <div class="alert alert-success" role="alert">
        <p><i class="material-icons" style="font-size: 12pt; text-align: center;">warning</i><strong> Hi dear User!</strong> You can to infer the truth tables based on a logic expression. Rules of use: </p>
        <p><strong>1. </strong> You can to use three letters for prepositions. Any letter.</p>
        <p><strong>2. </strong> The logic operators are: </p>
        <ul>
            <li><strong>&</strong> represents the operator <strong>AND</strong></li>
            <li><strong>|</strong> represents the operator <strong>OR</strong></li>
            <li><strong>></strong> represents the operator <strong>IMPLICATION</strong></li>
            <li><strong>=</strong> represents the operator <strong>DOUBLE IMPLICATION</strong></li>
        </ul>
        <p><strong>3. </strong> You can to use the grouping signs to set priority. Grouping signs are: <strong>()</strong> </p>
        <p><strong>4. </strong> You can't to use two prepositions or operators continuous. Like: <strong>pp</strong> or <strong>>&</strong> </p>
    </div>

    <div style="@((ViewBag.ShowError == "show") || (lastPrepositionToShow != null && resultComplete.Count == 0) ? "display:block" : "display:none")" class="alert alert-danger" role="alert">
        <h4><strong><i class="material-icons" style="font-size: 13pt; text-align: center;">warning</i> Logic expression error</strong></h4>
        <p>@ViewBag.Message</p>
    </div>

    <div class="col-md-9 align-self-center ">
        @using (Html.BeginForm("evaluateLogicExpression", "ClassicsSets", FormMethod.Post, new { @class = "form-inline" }))
        {
            <div class="form-group">
                <label for="logicExpression" class="sr-only">Write your logic expression: </label>
                <input type="text" style="width: 800px; font-family: Consolas; font-size: 13pt;" class="form-control" name="logicExpression" id="logicExpression" placeholder="Write a logic expression">
            </div>
            <button type="submit" class="btn btn-primary">Evaluate</button>
        }
    </div>
</div>

<hr />


<div class="row">
    <h5><strong>Logic expression</strong></h5>
    <div class="col-md-6">
        <h5 style="font-family: Consolas; font-size: 15pt;">@logicExpressionToShow</h5>
    </div>
</div>


<div class="row">
    <h5><strong>Result logic expression</strong></h5>

    @foreach (FuzzyApp.Models.Preposition prepositionEvaluted in resultComplete)
    {
        <div class="col-md-2">
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">@prepositionEvaluted.GetFirstPreposition().GetIdentifier()</th>
                        <th scope="col">@prepositionEvaluted.GetOperator()</th>
                        <th scope="col">@prepositionEvaluted.GetSecondPreposition().GetIdentifier()</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int position = 0; position < prepositionEvaluted.GetAllTruthValues().Count; position++)
                    {
                        <tr>
                            <td>@prepositionEvaluted.GetFirstPreposition().GetTruthValueByPosition(position)</td>
                            <td style="@(prepositionEvaluted.Equals(lastPrepositionToShow) ? "color: #17b100; font-weight:800" : "")">@prepositionEvaluted.GetTruthValueByPosition(position)</td>
                            <td>@prepositionEvaluted.GetSecondPreposition().GetTruthValueByPosition(position)</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    }
</div>



